/* root */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 2px solid green; */
}
:root{
    --clr-yellow: hsl(60, 100%, 65%);
    --clr-yellow-2: hsl(60, 100%, 75%);
    --clr-gray: hsl(0, 0%, 17%);
    --clr-gray-2: hsl(0, 0%, 90%);

    --clr-black: black;
    --clr-white: white;
}
html{
    font-family: Arial, sans-serif;
    font-size: 1em;
}

/* Main Elements */
header{
    background-color: var(--clr-yellow);
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
}
footer{
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer a{
    color: var(--clr-white)
}
nav a{
    font-size: 1rem;
    font-weight: 550;
    margin-inline: 10px;
}
a{
    color: var(--clr-black);
    text-decoration: none;
}

/* Classes And Id's */
#welcome-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 3rem;
    background-color: var(--clr-gray);
    color: var(--clr-white);
}
#about{
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#projects{
    padding-block: 20px;
    text-align: center;
    background-color: var(--clr-gray-2);
}


#profile-link{
    display: block;
    color: var(--clr-black);
    width: max-content;
    margin-block: 10px;
    padding: 10px;
    background-color: var(--clr-yellow);
    font-weight: 550;
}
.logo{
    width: 250px;
    height: 250px;
}
.skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills{
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}
#welcome-section h4{
    font-size: 1rem;
    color: var(--clr-yellow-2);
}